@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Orelega+One&family=Zen+Dots&display=swap');

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo a{
    color: black;
    text-decoration: none;
    font-family: 'Zen Dots', cursive;
    font-size: xx-large;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
 
.item {
    float: left;
}
 
.item a {
    display: block;
    color: white;
    font-family: 'Zen Dots', cursive;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
.item a:hover {
    background-color: #111;
}
